.about-us {
  width: $mobile-width;
  padding: 32px 30px;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding: 56px 50px 84px 50px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 56px 225px 90px 225px;
  }
}

.about-us__title {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  color: $black;

  @media (min-width: $tablet-width) {
    margin: 0 0 0 -4px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    font-size: 53px;
    line-height: 57px;
    letter-spacing: -0.01em;
  }
}

.about-us__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;


  @media (min-width: $tablet-width) {
    display: block;
    margin-top: -8px;
    column-count: 2;
    column-gap: 1px;
  }
}

.about-us__item {
  display: block;
  width: $mobile-width - 60px;
  padding-top: 83px;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: $black;

  @media (min-width: $tablet-width) {
    width: 300px;
    padding-top: 111px;
    font-size: 20px;
    line-height: 22px;
  }

  &--eco-materials {
    background: url("../img/svg/icon-feature-flower.svg") no-repeat 8px 32px;

    @media (min-width: $tablet-width) {
      background-position: 9px 58px;
    }
  }

  &--scandinavian-style {
    background: url("../img/svg/icon-feature-money.svg") no-repeat -1px 32px;

    @media (min-width: $tablet-width) {
      background-position: 1px 59px;
    }
  }

  &--like-increaser {
    background: url("../img/svg/icon-feature-heart.svg") no-repeat 8px 38px;

    @media (min-width: $tablet-width) {
      background-position: 9px 64px;
    }
  }

  &--handmade {
    background: url("../img/svg/icon-feature-ball.svg") no-repeat 4px 35px;

    @media (min-width: $tablet-width) {
      background-position: 2px 61px;
    }
  }

  &--domestic-producer {
    background: url("../img/svg/icon-feature-rocket.svg") no-repeat -1px 36px;

    @media (min-width: $tablet-width) {
      background-position: -2px 62px;
    }
  }

  &--gift-box {
    background: url("../img/svg/icon-feature-gift.svg") no-repeat 3px 34px;

    @media (min-width: $tablet-width) {
      background-position: 2px 60px;
    }
  }
}
