.about-us__title {
  @include title(25px, 30px);
}

.about-us__list {
  @include no-list;
}

.about-us__item {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: $black;
}

.about-us__item--eco-materials {
  background: url("../img/svg/icon-feature-flower.svg") no-repeat left;
}

.about-us__item--scandinavian-style {
  background: url("../img/svg/icon-feature-money.svg") no-repeat left;
}

.about-us__item--like-increaser {
  background: url("../img/svg/icon-feature-heart.svg") no-repeat left;
}

.about-us__item--handmade {
  background: url("../img/svg/icon-feature-ball.svg") no-repeat left;
}

.about-us__item--domestic-producer {
  background: url("../img/svg/icon-feature-rocket.svg") no-repeat left;
}

.about-us__item--gift-box {
  background: url("../img/svg/icon-feature-gift.svg") no-repeat left;
}
