.catalog-item {
  width: $mobile-width - 60px;
  border: 1px solid $light-gray;

  &:not(:last-child) {
    margin-bottom: 31px;

    @media (min-width: $tablet-width) {
      margin-bottom: 52px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    width: 668px;
    min-height: 334px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    width: 316px;
    min-height: 660px;
    margin-bottom: 0;
  }

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px rgba($black, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba($black, 0.1);
  }
}

.catalog-item__image-link {
  height: 195px;

  @media (min-width: $tablet-width) {
    height: 334px;
  }

  @media (min-width: $desktop-width) {
    height: 462px;
  }
}

.catalog-item__image {
  width: 260px;
  height: 195px;
  object-fit: cover;
  object-position: 0 0;

  @media (min-width: $tablet-width) {
    width: 334px;
    height: 334px;
  }

  @media (min-width: $desktop-width) {
    width: 316px;
    height: 462px;
  }
}

.catalog-item__info-wrapper {
  display: flex;
  flex-direction: column;
  padding: 24px 27px 27px 27px;

  @media (min-width: $tablet-width) {
    flex-grow: 1;
  }
}

.catalog-item__title-link {
  display: block;
}

.catalog-item__title {
  margin: 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  &:hover,
  &:focus {
    color: rgba($black, 0.6);
  }

  &:active {
    color: rgba($black, 0.3);
  }
}

.catalog-item__description {
  margin: 6px 0 14px 0;
  font-size: 13px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 15px;
  }
}

.catalog-item__button-wrapper {
  display: flex;
  margin-top: auto;
  justify-content: space-between;
  padding-top: 21px;
  border-top: 1px solid $light-gray;
}

.catalog-item__price {
  margin: 0;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}

.catalog-item__cart-button {
  padding: 0;
  // border: 0 none;
  background-color: white;
  cursor: pointer;
}
