.catalog-nav__list {
  @include no-list;
  background-color: transparent;
}

.catalog-nav__link {
  display: block;
  width: 320px;
  height: 103px;
  margin: 0 auto;
  padding: 25px 30px;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  color: $white;
}

.catalog-nav__link--home {
  background-color: $light-green;
}

.catalog-nav__link--toys {
  background-color: $medium-green;
}

.catalog-nav__link:active {
  color: rgba($white, 0.3);
}

@media (min-width: $tablet-width) {
  .catalog-nav__list {
    display: flex;
    justify-content: center;
  }

  .catalog-nav__link {
    width: 334px;
    height: 119px;
    padding: 27px 36px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-nav__link {
    width: 525px;
  }
}
