.contacts__title {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    font-size: 53px;
    line-height: 57px;
  }
}

.contacts__text,
.contacts__link {
  font-size: 15px;
  line-height: 30px;
}

.contacts__link {
  color: $dark-grey;
  border-bottom: 1px solid #46c1ae;

  &:hover,
  &:focus {
    color: #46c1ae;
  }

  &:active {
    color: rgba(#46c1ae, 0.3);
    border-bottom: 1px solid rgba(#46c1ae, 0.3);
  }
}

.contacts__feedback-button {
  @include button($dark-grey, $white);
  width: 260px;
  min-height: 52px;
  border: 2px solid $dark-grey;

  &:hover,
  &:focus {
    color: $white;
    background-color: $dark-grey;
  }

  &:active {
    color: rgba($white, 0.3);
    background-color: $dark-grey;
  }
}
