.copyright {
  width: 183px;
  padding: 12px 0;
}

.copyright__logo-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 34px;

  &:hover .copyright__logo-svg,
  &:focus .copyright__logo-svg {
    fill: $medium-green;
  }

  &:active .copyright__text,
  &:active .copyright__logo-svg {
    opacity: 0.3;
  }
}

.copyright__text {
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
  color: $black;
}

.copyright__logo-svg {
  fill: $green-cyan;
}
