.form {
  width: $mobile-width;
  padding-bottom: 23px;
  font: inherit;
  color: $charcoal;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.form__legend {
  display: block;
  padding: 0;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  color: $green-cyan;
  text-transform: uppercase;
  border: 0 none;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 66px;
    left: 50px;
  }

  @media (min-width: $desktop-width) {
    left: 0;
  }
}

.form__label {
  font-size: 17px;
  line-height: 18px;
  color: $black;
  font-weight: bold;

  @media (min-width: $tablet-width) {
    display: block;
    font-size: 19px;
    line-height: 18px;
  }
}

.form__input {
  width: $mobile-width - 60px;

  height: 49px;
  margin-bottom: 20px;
  padding: 13px 0;

  font-size: 17px;
  line-height: 18px;
  color: $charcoal;
  border: 0 none;
  box-shadow: inset 0 -2px 0 0 $black;

  @media (min-width: $tablet-width) {
    height: 51px;
    margin-bottom: 0;
  }

  &:hover,
  &:focus {
    box-shadow: inset 0 -2px 0 0 $green-cyan;
  }

  &:active {
    color: $charcoal;
    box-shadow: inset 0 -2px 0 0 $green-cyan;
  }

  &::placeholder {
    font-size: 17px;
    line-height: 18px;
    color: rgba($charcoal, 0.3);
  }
}

.form__fieldset-wrapper {
  @media (min-width: $tablet-width) {
    background-color: $white-smoke;
  }
}

.form__fieldset {
  position: relative;
  width: $mobile-width - 60px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding-left: 236px;
  }

  @media (min-width: $desktop-width) {
    width: 930px;
  }

  &--product-type {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 128px;
    margin-bottom: 42px;

    @media (min-width: $tablet-width) {
      min-height: 227px;
      margin-bottom: 0;
      padding: 66px 50px 68px 236px;
    }

    .form__legend {
      margin: 0 0 34px 0;
    }

    .form__label {
      margin-left: 62px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 134px;
    }
  }

  &--product-color {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 376px;
    margin-bottom: 42px;

    @media (min-width: $tablet-width) {
      align-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
      min-height: 304px;
      margin-bottom: 0;
      padding: 67px 50px 67px 236px;

      .form__label {
        width: 158px;
        height: 20px;
      }
    }

    @media (min-width: $desktop-width) {
      min-height: 228px;
      padding: 66px 50px 66px 134px;
    }


    .form__legend {
      margin: 0 0 37px 0;
    }

    .form__label {
      margin-left: 62px;
    }
  }

  &--name {
    padding-bottom: 13px;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
      align-content: space-between;
      align-items: baseline;
      min-height: 304px;
      padding: 50px 50px 51px 218px;
    }

    @media (min-width: $desktop-width) {
      padding: 51px 115px 51px 117px;
    }

    .form__legend {
      margin: 0 0 29px 0;
    }

    .form__label {
      @media (min-width: $tablet-width) {
        margin-right: 22px;
      }

      @media (min-width: $desktop-width) {
        margin-right: 24px;
      }
    }

    .form__input {
      @media (min-width: $tablet-width) {
        flex-basis: 375px;
        flex-grow: 1;
      }

      @media (min-width: $desktop-width) {
        flex-basis: 573px;
      }
    }
  }

  &--phone {
    padding-bottom: 14px;

    @media (min-width: $tablet-width) {
      min-height: 64px;
      padding: 50px 50px 0 218px;
    }

    @media (min-width: $desktop-width) {
      padding: 51px 115px 0 115px;
    }

    .form__legend {
      margin: 0 0 8px 0;
    }

    .form__input {
      @media (min-width: $tablet-width) {
        width: 100%;
        background-color: $white-smoke;
      }
    }
  }

  &--email {
    padding-bottom: 14px;

    @media (min-width: $tablet-width) {
      padding: 25px 50px 51px 218px;
    }

    @media (min-width: $desktop-width) {
      padding: 25px 115px 51px 115px;
    }

    .form__legend {
      margin: 0 0 8px 0;

      @media (min-width: $tablet-width) {
        top: 42px;
      }
    }

    .form__input {
      @media (min-width: $tablet-width) {
        width: 100%;
        background-color: $white-smoke;
      }
    }
  }

  &--message {
    .form__legend {
      margin-bottom: 25px;
    }

    @media (min-width: $tablet-width) {
      padding: 50px 50px 52px 218px;
    }

    @media (min-width: $desktop-width) {
      padding: 50px 115px 48px 115px;
    }
  }
}

.form__textarea {
  min-height: 142px;
  width: 260px;
  margin: 0;
  padding: 13px 14px;
  font-size: 17px;
  line-height: 18px;
  border: 2px solid $charcoal;
  resize: none;


  @media (min-width: $tablet-width) {
    width: 100%;
  }

  &:hover,
  &:focus {
    border: 2px solid $green-cyan;
  }

  &:active {
    color: $charcoal;
    border: 2px solid $green-cyan;
  }

  &::placeholder {
    font-size: 17px;
    line-height: 18px;
    color: rgba($charcoal, 0.3);
  }
}

.form__button-wrapper {
  width: $mobile-width - 60px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: $tablet-width - 100px;
    min-height: 80px;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
  }
}

.form__note {
  margin: 15px 0;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: auto;
    font-size: 17px;
  }
}

.form__send-button {
  @include button($charcoal, $white);
  width: 260px;
  height: 52px;
  margin: 32px 0;
  border: 2px solid $charcoal;

  @media (min-width: $tablet-width) {
    width: 230px;
    margin: 0 auto auto 0;
  }

  &:hover,
  &:focus {
    color: $white;
    background-color: $charcoal;
  }

  &:active {
    color: rgba($white, 0.3);
    background-color: $charcoal;
  }
}
