.form {
  width: $mobile-width;
  padding-bottom: 23px;
  font: inherit;
  color: $charcoal;

  @media (min-width: $tablet-width) {
    width: 100%;
    padding-bottom: 50px;
  }
}

.form__legend {
  display: block;
  padding: 0;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  color: $green-cyan;
  text-transform: uppercase;
  border: 0 none;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 65px;
    left: 50px;
  }

  @media (min-width: $desktop-width) {
    top: 67px;
    left: 2px;
  }
}

.form__label {
  font-size: 17px;
  line-height: 18px;
  color: $black;
  font-weight: bold;

  @media (min-width: $tablet-width) {
    display: block;
    font-size: 19px;
    line-height: 18px;
  }
}

.form__input {
  width: $mobile-width - 60px;

  height: 50px;
  margin-bottom: 19px;
  padding: 13px 0;

  font-size: 17px;
  line-height: 18px;
  color: $charcoal;
  border: 0 none;
  box-shadow: inset 0 -2px 0 0 $black;

  @media (min-width: $tablet-width) {
    height: 51px;
    margin-bottom: 0;
    padding: 13px 17px;
  }

  &:hover,
  &:focus {
    box-shadow: inset 0 -2px 0 0 $green-cyan;
  }

  &:active {
    color: $charcoal;
    box-shadow: inset 0 -2px 0 0 $green-cyan;
  }

  &:hover + .form__svg,
  &:focus + .form__svg,
  &:active + .form__svg {
    fill: $green-cyan;
  }

  &::placeholder {
    font-size: 17px;
    line-height: 18px;
    color: rgba($charcoal, 0.3);
  }
}

.form__fieldset-wrapper {
  @media (min-width: $tablet-width) {
    background-color: $white-smoke;
  }
}

.form__fieldset {
  position: relative;
  width: $mobile-width - 60px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: 930px;
  }

  &--product-type {
    padding-bottom: 44px;

    @media (min-width: $tablet-width) {
      padding: 63px 50px 69px 236px;
    }

    @media (min-width: $desktop-width) {
      padding: 63px 50px 68px 134px;
    }

    .form__legend {
      margin: 0 0 34px 0;
    }

    .form__label {
      display: block;
      margin: 0 0 24px 62px;

      @media (min-width: $tablet-width) {
        margin: 0 0 58px 62px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &--product-color {
    // padding-bottom: 26px;

    @media (min-width: $tablet-width) {
      display: flex;
      justify-content: start;
      flex-wrap: wrap;
      padding: 66px 0 51px 236px;
    }

    @media (min-width: $desktop-width) {
      padding: 66px 0 51px 134px;
    }

    .form__legend {
      margin: 0 0 37px 0;
    }

    .form__label {
      display: block;
      width: 200px;
      height: 35px;
      margin: 0 0 26px 62px;

      @media (min-width: $tablet-width) {
        margin: 0 0 41px 62px;
      }

      &:last-child,
      &:nth-last-child(3) {
        @media (min-width: $tablet-width) {
          margin-bottom: 0;
        }
      }

      &:nth-last-child(5) {
        @media (min-width: $desktop-width) {
          margin-bottom: 0;
        }
      }
    }
  }

  &--name {
    padding-bottom: 13px;

    @media (min-width: $tablet-width) {
      padding: 50px 50px 51px 218px;
    }

    @media (min-width: $desktop-width) {
      padding: 51px 115px 50px 117px;
    }

    .form__legend {
      margin: -2px 0 28px 0;
    }

    .form__label {
      @media (min-width: $tablet-width) {
        margin-right: 24px;
      }
    }

    .form__input {
      @media (min-width: $tablet-width) {
        flex-basis: 375px;
        flex-grow: 1;
      }

      @media (min-width: $desktop-width) {
        flex-basis: 573px;
      }
    }
  }

  &--phone {
    padding-bottom: 13px;

    @media (min-width: $tablet-width) {
      padding: 50px 50px 0 218px;
    }

    @media (min-width: $desktop-width) {
      padding: 51px 115px 0 115px;
    }

    .form__legend {
      margin: 0 0 9px 0;
    }

    .form__input {
      @media (min-width: $tablet-width) {
        width: 100%;
        background-color: $white-smoke;
      }
    }
  }

  &--email {
    padding-bottom: 14px;

    @media (min-width: $tablet-width) {
      padding: 25px 50px 51px 218px;
    }

    @media (min-width: $desktop-width) {
      padding: 25px 115px 50px 115px;
    }

    .form__legend {
      margin: 0 0 8px 0;

      @media (min-width: $tablet-width) {
        top: 42px;
      }
    }

    .form__input {
      @media (min-width: $tablet-width) {
        width: 100%;
        background-color: $white-smoke;
      }
    }
  }

  &--message {
    @media (min-width: $tablet-width) {
      padding: 50px 50px 53px 218px;
      height: 245px;
    }

    @media (min-width: $desktop-width) {
      padding: 50px 115px 48px 115px;
      height: 240px;
    }

    .form__legend {
      margin-bottom: 25px;
    }
  }
}

.form__field-wrapper {
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 25px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.form__svg {
  position: absolute;
  top: 34px;
  right: 8px;
  fill: rgba($black, 0.2);

  @media (min-width: $tablet-width) {
    top: 60px;
    right: 76px;
  }

  @media (min-width: $desktop-width) {
    top: 61px;
    right: 123px;
  }

  &--email {
    right: 4px;

    @media (min-width: $tablet-width) {
      top: 35px;
      right: 72px;
    }

    @media (min-width: $desktop-width) {
      top: 35px;
      right: 119px;
    }
  }
}

.form__textarea {
  min-height: 142px;
  width: 260px;
  margin: 0;
  padding: 13px 14px;
  font-size: 17px;
  line-height: 18px;
  border: 2px solid $charcoal;
  resize: none;


  @media (min-width: $tablet-width) {
    width: 100%;
  }

  &:hover,
  &:focus {
    border: 2px solid $green-cyan;
  }

  &:active {
    color: $charcoal;
    border: 2px solid $green-cyan;
  }

  &::placeholder {
    font-size: 17px;
    line-height: 18px;
    color: rgba($charcoal, 0.3);
  }
}

.form__button-wrapper {
  width: $mobile-width - 60px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: $tablet-width - 100px;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
  }
}

.form__note {
  margin: 15px 0;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: auto;
    font-size: 17px;
  }
}

.form__send-button {
  @include button($charcoal, $white);
  width: 260px;
  height: 52px;
  margin: 32px 0;
  border: 2px solid $charcoal;

  @media (min-width: $tablet-width) {
    width: 230px;
    margin: 0 auto auto 0;
  }

  &:hover,
  &:focus {
    color: $white;
    background-color: $charcoal;
  }

  &:active {
    color: rgba($white, 0.3);
    background-color: $charcoal;
  }
}
