.main-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.main-nav__logo-link {
  display: block;
  margin: 22px 0 0 116px;
  width: 86px;
  height: 35px;

  @media (min-width: $tablet-width) {
    width: 112px;
    height: 46px;
    margin: 22px 205px 20px 51px;
  }

  @media (min-width: $desktop-width) {
    width: 149px;
    height: 72px;
    margin: 9px 101px 7px 45px;
    order: 1;
  }

  &[href]:hover,
  &:focus {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }
}

.main-nav__logo-image {
  width: 86px;
  height: 35px;
  object-fit: cover;
  object-position: 0 0;

  @media (min-width: $tablet-width) {
    width: 112px;
    height: 46px;
  }

  @media (min-width: $desktop-width) {
    width: 149px;
    height: 72px;
  }
}

.main-nav__open-button {
  position: relative;
  width: 79px;
  height: 79px;
  margin-left: auto;
  background-color: $white;
  border: 0 none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }

  &::after {
    position: absolute;
    content: "";
    top: 32px;
    left: 28px;
    width: 20px;
    height: 2px;
    background-color: $black;
    box-shadow:
      0 6px 0 0,
      0 12px 0 0;
  }
}

.main-nav__text {
  display: none;
  margin: 0;
  font-size: 15px;
  line-height: 24px;
  text-align: right;

  @media (min-width: $tablet-width) {
    position: relative;
    display: block;
    order: 3;
    padding: 18px 50px 20px 50px;
    background-color: transparent;
    z-index: 3;
  }

  &--index {
    @media (min-width: $tablet-width) {
      background-color: transparent;
    }
  }
}

.main-nav__list {
  &--user {
    @media (min-width: $tablet-width) {
      order: 1;
    }
  }

  &--site {
    @media (min-width: $tablet-width) {
      order: 2;
    }

    @media (min-width: $desktop-width) {
      order: 0;
    }
  }

  &--promo {
    @media (min-width: $desktop-width) {
      display: block;
      order: 2;
    }
  }

  &--open {
    @media (max-width: $tablet-width) {
      display: block;
    }
  }

  &--close {
    @media (max-width: $tablet-width) {
      display: none;
    }
  }
}
