.manufacture__title {
  @include title(17px, 24px);
}

.manufacture__play-button {
  @include size(101px, 77px);
  display: block;
  background-color: $light-green;
  border: solid 4px $white;
  border-radius: 15px;
}

.manufacture__text {
  font-size: 15px;
  line-height: 30px;
}

.manufacture__order-button {
  @include button(16px, $dark-grey, $white);
}
