.page-main__title {
  @include size(320px, 177px);
  @include title(27px, 30px);
  display: block;
  text-align: center;
  background-color: $light-grey;
}

.page-main__title--index {
  background-image: url("../../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center center;
}
