.page-header {
  box-shadow: 0 1px 0 0 $light-grey,
    inset 0 1px 0 0 $light-grey;

  @media (min-width: $tablet-width) {
    box-shadow: none;
  }
}

.page-header__nav {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    margin-bottom: -62px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}
