.promo {     // есть перестроение, но пока без ПП
  position: relative;
  display: flex;
  flex-direction: column;
  width: 320px;
  padding: 27px 30px 37px 30px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    width: $tablet-width;
    min-height: 617px;
    padding: 27px 50px 37px 50px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    min-height: 817px;
    padding: 120px 50px 20px 220px;
    outline: 1px solid red;
  }
}

.promo__title {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: $black;
  order: -1;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    font-size: 53px;
    line-height: 57px;
  }
}

.promo__subtitle {
  margin: 0;
  margin-top: 4px;
  font-size: 17px;
  line-height: 20px;
  color: $light-green;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 80px;
    font-size: 17px;
    line-height: 17px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    left: 100px;
  }
}

.promo__description-wrapper {
  @media (min-width: $tablet-width) {
    width: 335px;
  }

  @media (min-width: $desktop-width) {
    width: 500px;
  }
}

.promo__description {
  margin-top: 24px;
  font-size: 15px;
  line-height: 24px;
  color: $dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
  }
}

.promo__table {
  margin-top: 18px;
  border-collapse: collapse;
}

.promo__row {
  border-bottom: 1px solid $light-grey;
}

.promo__field,
.promo__value {
  padding: 9px 30px 10px 0;
  font-size: 15px;
  line-height: 20px;
}

.promo__image {
  margin-top: 29px;
}

.promo__button-wrapper {
  @media (min-width: $tablet-width) {
    margin-top: -150px;
  }
}

.promo__price {
  margin: 0;
  margin-top: 23px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.promo__request-button {
  @include button($dark-grey, $white);

  width: 260px;
  /* временно */
  margin-top: 26px;
  padding: 15px 30px;
  border: 2px solid $dark-grey;

  @media (min-width: $tablet-width) {
    width: 292px;
  }

  &:hover,
  &:focus {
    color: $white;
    background-color: $dark-grey;
  }

  &:active {
    color: rgba($white, 0.3);
    background-color: $dark-grey;
  }
}
