.promo {
  position: relative;
  display: flex;
  flex-direction: column;
  width: $mobile-width;
  padding: 27px 30px 37px 30px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: $tablet-width;
    min-height: 617px;
    padding: 44px 50px 37px 50px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    min-height: 806px;
    padding: 71px 50px 9px 224px;
  }
}

.promo__title {
  margin: 0 0 5px 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: $black;
  order: -1;

  @media (min-width: $tablet-width) {
    margin: 0 auto 46px -3px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 123px;
    width: 100%;
    font-size: 53px;
    line-height: 57px;
    letter-spacing: -0.005em;
  }
}

.promo__subtitle {
  margin: 0 0 24px 0;
  font-size: 17px;
  line-height: 20px;
  color: $green-cyan;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 13px 23px 49px auto;
    width: 80px;
    line-height: 17px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 126px;
    left: 92px;
    margin-left: 0;
  }
}

.promo__description-wrapper {
  @media (min-width: $tablet-width) {
    margin: -10px 0 0 0;
    width: 335px;
    padding: 0 0 17px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 156px 0 17px 0;
  }
}

.promo__description {
  margin: 0 0 17px 0;
  font-size: 15px;
  line-height: 24px;
  color: $charcoal;

  @media (min-width: $tablet-width) {
    width: 300px;
    margin: 0 0 38px 0;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 50px 0;
  }
}

.promo__table {
  border-collapse: collapse;
}

.promo__row {
  border-bottom: 1px solid $white-smoke;
}

.promo__field,
.promo__value {
  padding: 9px 30px 10px 0;
  font-size: 15px;
  line-height: 20px;
}

.promo__image {
  margin: 29px 0 23px 0;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 333px;
    height: 404px;
  }

  @media (min-width: $desktop-width) {
    width: 525px;
    height: 636px;
  }
}

.promo__button-wrapper {
  @media (min-width: $tablet-width) {
    margin-top: -116px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -148px;
  }
}

.promo__price {
  margin: 0 0 26px 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: -7px 0 34px -4px;
    font-size: 20px;
  }
}

.promo__request-button {
  @include button($charcoal, $white);
  width: 260px;
  padding: 14px 30px;
  border: 2px solid $charcoal;

  @media (min-width: $tablet-width) {
    width: 292px;
  }

  &:hover,
  &:focus {
    color: $white;
    background-color: $charcoal;
  }

  &:active {
    color: rgba($white, 0.3);
    background-color: $charcoal;
  }
}
