.review {
  width: $mobile-width;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 0 50px 0 224px;
  }
}

.review__title {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    font-size: 53px;
    line-height: 57px;
  }
}

.review__item {
  margin: 0;
}

.review__text {
  font-size: 15px;
  line-height: 30px;
}

.review__author-name {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  font-style: normal;
  color: $black;
}

.review__author-id {
  font-size: 17px;
  line-height: 30px;
}

.review__write-button {
  @include button($charcoal, $white);

  width: 260px;
  min-height: 52px;
  border: 2px solid $charcoal;

  &:hover,
  &:focus {
    color: $white;
    background-color: $charcoal;
  }

  &:active {
    color: rgba($white, 0.3);
    background-color: $charcoal;
  }
}
