.review {
  position: relative;
  width: $mobile-width;
  padding: 26px 30px 50px 30px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: $tablet-width;
    padding: 79px 50px 139px 50px;
    background: url("../img/review@1x.jpg") no-repeat left top;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 79px 50px 186px 224px;
    background-position: 50px top;
  }

  &::after {
    position: absolute;
    content: "";
    bottom: -18px;
    left: 0;
    width: 100%;
    height: 23px;
    background: url("../img/svg/bg-zigzag-line.svg") no-repeat center bottom;
    background-size: contain;
    transform: rotate(180deg);

    @media (min-width: $tablet-width) {
      bottom: 0;
      background-size: 768px;
    }

    @media (min-width: $desktop-width) {
      bottom: 0;
      height: 23px;
      background-size: 1050px;
    }
  }
}


.review__title {
  margin: 0 0 24px 0;
  font-size: 25px;
  line-height: 30px;
  color: $black;

  @media (min-width: $tablet-width) {
    width: 334px;
    margin: -2px 0 49px -4px;
    font-size: 43px;
    line-height: 50px;
    order: -2;
  }

  @media (min-width: $desktop-width) {
    width: 350px;
    margin: -9px 0 49px -3px;
    font-size: 53px;
    line-height: 57px;
    letter-spacing: -0.01em;
  }
}

.review__text {
  width: 258px;
  margin: 0 0 26px 0;
  font-size: 15px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    width: $tablet-width - 100px;
    margin-bottom: 57px;
    font-size: 17px;
  }

  @media (min-width: $desktop-width) {
    width: 780px;
    margin-bottom: 38px;
  }
}

.review__author-wrapper {
  margin: 0 0 29px 0;

  @media (min-width: $tablet-width) {
    margin: auto auto 0 0;
  }
}

.review__author-name {
  display: block;
  margin: 0 0 3px 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  font-style: normal;
  color: $black;
  // letter-spacing: 0.01em;
}

.review__author-id {
  display: block;
  margin: 0;
  font-size: 17px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.review__buttons {
  margin: 0 0 39px 0;

  @media (min-width: $tablet-width) {
    height: 26px;
    margin: auto 19px 15px auto;
  }
}

.review__write-button {
  @include button($charcoal, $white);

  width: 260px;
  min-height: 52px;
  padding: 14px;
  border: 2px solid $charcoal;

  &:hover,
  &:focus {
    color: $white;
    background-color: $charcoal;
  }

  &:active {
    color: rgba($white, 0.3);
    background-color: $charcoal;
  }

  @media (min-width: $tablet-width) {
    width: 175px;
    margin: 0 0 45px auto;
    padding: 14px 10px;
    order: -1;
  }
}
