.site-list {
  @include no-list;
}

.site-list__item {
  padding: 26px 60px 26px 76px;
  box-shadow:
    0 1px 0 0 #ececec,
    inset 0 1px 0 0 #ececec;
}

.site-list__link {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: $black;
}

.site-list__link:hover,
.site-list__link:focus {
  color: rgba($black, 0.6);
}

.site-list__link:active {
  color: rgba($black, 0.3);
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    width: 455px; // времено для сетки
    background-color: transparent;
  }

  .site-list__item {
    padding: 22px 50px;
    box-shadow: none;
  }

  .site-list__link {
    font-size: 15px;
  }
}

@media (min-width: $desktop-width) {
  .site-list__item {
    padding: 31px 20px 33px 50px;
  }

  .site-list__link {
    font-size: 17px;
  }
}
