.user-list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
  }
}

.user-list__item {
  position: relative;
  border-top: 1px solid $light-gray;
}

.user-list__link {
  display: block;
  padding: 26px 62px 28px 76px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: $black;

  @media (min-width: $tablet-width) {
    padding: 22px 50px;
  }

  &:hover[href],
  &:focus {
    color: rgba($black, 0.6);
  }

  &:active[href] {
    color: rgba($black, 0.3);
  }

  &--search {
    @media (min-width: $tablet-width) {
      width: 84px;
      height: 88px;
      padding: 0;
      border-right: 1px solid $light-gray;
      border-left: 1px solid $light-gray;
    }

    &:hover .user-list__svg--search,
    &:focus .user-list__svg--search {
      fill: $green-cyan;
    }

    &:active .user-list__svg--search {
      opacity: 0.3;
    }
  }

  &--cart {
    @media (min-width: $tablet-width) {
      padding: 31px 50px 33px 82px;
      text-align: right;
    }
  }
}

.user-list__svg {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 32px;
  left: 33px;
  fill: rgba($black, 0.2);

  @media (min-width: $tablet-width) {
    top: 36px;
    left: 36px;
  }

  @media (min-width: $desktop-width) {
    top: 37px;
    left: 34px;
  }

  &--cart {
    width: 21px;
  }
}

.user-list__span {
  @media (min-width: $tablet-width) {
    visibility: hidden;
  }
}
