.user-list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
  }
}

.user-list__item {
  box-shadow:
    0 1px 0 0 $light-gray,
    inset 0 1px 0 0 $light-gray;
}

.user-list__link {
  display: block;
  padding: 26px 60px 26px 76px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: $black;

  @media (min-width: $tablet-width) {
    padding: 22px 50px;
  }

  &:hover,
  &:focus {
    color: rgba($black, 0.6);
  }

  &:active {
    color: rgba($black, 0.3);
  }

  &--search {
    @media (min-width: $tablet-width) {
      width: 84px;
      height: 88px;
      padding: 0;
      border-right: 1px solid $light-gray;
      border-left: 1px solid $light-gray;
    }
  }

  &--cart {
    @media (min-width: $tablet-width) {
      padding: 31px 50px 33px 82px;
      text-align: right;
    }
  }
}

.user-list__span {
  @media (min-width: $tablet-width) {
    visibility: hidden;
  }
}
