html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  text-align: left;
  background-color: $white;
}

a {
  text-decoration: none;
}
