@mixin button($font-color, $bg-color) {
  display: block;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  color: $font-color;
  background-color: $bg-color;
  text-transform: uppercase;
  cursor: pointer;
}
