$black: #000000;
$very-light-grey: #f9f9f9;
$light-grey: #f1f1f1;
$dark-grey: #444444;
$white: #ffffff;
$light-green: #63d1bb;
$medium-green: #56c3b2;
$dark-green: #149080;
$medium-green2: #46c1ae;
$light-grey2: #ececec;

$tablet-width: 768px;
$desktop-width: 1150px;
